
<div class="notification-box">

  <div id="notifications-header">
    <h1> My Notifications </h1>
  </div>

  <div id="notifications-number">
    <h2> You have X new messages</h2>
  </div>

  <div id="notification">

    <% @notifications.reverse_each do |notification| %>

      <div id="notification-title">
        <h1> <%= notification.title %> </h1>
      </div>
      <h4 class="author-box"> <%= notification.author && notification.author.name %> </h4>
      <h4 class="company-box"> <%= notification.company && notification.company.name %> </h4>
      <h4 class="recepient-box"> <%= (Notification.where(recipient_id: @user.id)).name %> </h4>
      <p class="message-box">
        <strong><%= notification.title %> </strong><br>
        <%= notification.message %>
      </p>
      <br>
    <% end %>
  </div>

  <%= link_to 'New Notification', new_notification_path %>

</div>
