
  <div class="user-box">

    <div id="dashboard-header">
      <h1> My Dashboard </h1>
    </div>

    <div class="user-info-container">
      <div id="user-name">
        <h2> <%= @user.name %> </h2>
        @user.company
      </div>
    </div>

    <div id="user-info-header">
      <h2> My Contact Info: </h2>
    </div>

    <div class="user-info-container">
      <div>
        <%= @user.email %>
      </div>
      <div>
        <%= @user.address %>
      </div>
      <div>
        <%= @user.phone %>
      </div>
      <div>
        <%= @user.emergency_contact %>
      </div>
        <!-- <%= @user.shift_preference %> -->
    </div>

    <div id="user-edit-header">
      <%= link_to 'Edit', edit_user_path(@user) %>
    </div>

    <div id="user-info-header">
      <h2> My Contact Info: </h2>
    </div>

  </div>


    <%= link_to 'Back', user_path(@user) %>

    <!-- <div id="user-links">
      <%= link_to "My Notifications", notifications_url %>
      <%= link_to "My Calendar", calendars_url %>
    </div> -->
