<%= form_for(@shift) do |f| %>
  <% if @shift.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(notification.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% notification.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= f.label :user_id %>
    <%= f.text_area :user_id %>
  </div>


  <div>
    <%= f.label :time_of_day %>
    <%= f.text_area :time_of_day %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>

<% end %>
