<!-- HEADER BOX -->

  <div class="company-first-box">

    <div id="company-photo">
      <% if @company.picture %>
        <%= image_tag @company.picture %>
      <% else %>
        <%= image_tag ActionController::Base.helpers.asset_path("company_placeholder.png") %>
      <% end %>
    </div>

    <div class="company-contact-box">
      <div id="company-details">
        <h2 id="company-name"> <%= @company.name %> </h2>
        <p> <%= @company.location %> </p>
        <p> <%= @company.contact_info %> </p>
        <p> <%= link_to 'Edit', edit_company_path(@company) %> </p>
      </div>
    </div>

  </div>

  <div class="company-second-box">
    <div id="company-notifications">
      <div id="company-notifications-header">
        <h2> Notifications </h2>
      </div>
      <div>
        <%= render "notifications" %>
      </div>
    </div>

    <div id="company-employees">
      <div id="employees-header">
        <h2> Employees </h2>
      </div>
      <div id="employees-partial">
        <%= render "employees" %>
      </div>
    </div>

  </div>
