<p id="notice"><%= notice %></p>

<h1>Schedule</h1>
<div class="calendar-desktop">
  <div class="calendar-full">
    <%= month_calendar events: @calendars do |date, meetings| %>
    <div class= 'calendar_day'>
      <strong><%= date.mday %></strong>

<<<<<<< HEAD
     <% meetings.each do |meeting| %>
     <!--need an if statement  -->
      <div class="">
        <%= meeting.name %>
        <%= meeting.start_time.hour %>
        <%= %>
      </div>
=======
       <% meetings.each do |meeting| %>
        <div class="">
          <%= meeting.name %>
          <%= meeting.start_time.hour %>
          <%= %>

        </div>
      <% end %>
>>>>>>> ce0f108d9ecd1301437be37d417270d9ce01d520
    <% end %>
  </div>
</div>

<!-- MOBILE CALENDAR -->

<div class="calendar-mobile">
  <div class="calendar-full">
    <%= week_calendar events: @calendars do |date, meetings| %>
    <div class= 'calendar_day'>
      <strong><%= date.mday %></strong>

       <% meetings.each do |meeting| %>
        <div class="">
          <%= meeting.name %>
          <%= meeting.start_time.hour %>
          <%= %>
        </div>
      <% end %>
    <% end %>
  </div>
</div>

<%= link_to 'New Shift', new_calendar_path %>
