<div class="calendar-header">
  <h1> My Calendar </h1>
</div>

<div class="calendar-box">

  <div class="calendar-desktop">

    <div class="calendar-full">

      <%= month_calendar events: @calendars do |date, meetings| %>

        <div class='calendar-day'>

          <div id="date-number">
            <strong><%= date.mday %></strong>
          </div>

          <% meetings.each do |shift| %>
            <% if shift.company_id == current_user.company_id %>

              <div class="shift-entry">
                <%= link_to shift.name, calendar_url(Calendar.find_by(params[:id])) %>
                <%= shift.company_id %>
              </div>

            <% end %>
          <% end %>

        </div>

      <% end %>

    </div>

  </div>

  <div class="calendar-shift-box">

    <div id="shift-box-header">
      <h2> Shift Details </h2>
    </div>

    <div id="shift-details">

    </div>

  </div>

</div>

<div class="calendar-admin-box">
  <h2>
    <%= link_to 'New Shift', new_calendar_path %>
  </h2>
</div>

<!-- MOBILE CALENDAR -->

<div class="calendar-mobile">
  <div class="calendar-full">
    <h2><%= link_to 'New Shift', new_calendar_path %></h2>
    <%= week_calendar events: @calendars do |date, meetings| %>
      <div class= 'calendar_day'>
        <strong><%= date.mday %></strong>
          <% meetings.each do |shift| %>
            <div class="">
              <%= link_to shift.name, calendar_url(Calendar.find_by(params[:id])) %>
              <%= shift.start_time.hour %>
            </div>
          <% end %>
      <% end %>
    </div>
  </div>
</div>

<!-- New Shift/Admin box -->
