<p id="notice"><%= notice %></p>

<h1>Schedule</h1>
<div class="calendar-desktop">
  <div class="calendar-full">
    <%= month_calendar events: @calendars do |date, meetings| %>
    <div class= 'calendar_day'>
      <strong><%= date.mday %></strong>
        <% meetings.each do |meeting| %>
          <% if meeting.company_id == current_user.company_id %>
          <div class="">
            <%= meeting.name %>
            <%= meeting.start_time.hour %>
          </div>
        <% end %>
      <% end %>
    </div>
    <% end %>
</div>

<!-- MOBILE CALENDAR -->

<div class="calendar-mobile">
  <div class="calendar-full">
    <%= week_calendar events: @calendars do |date, meetings| %>
    <div class= 'calendar_day'>
      <strong><%= date.mday %></strong>

       <% meetings.each do |meeting| %>
        <div class="">
          <%= meeting.name %>
          <%= meeting.start_time.hour %>
          <%= %>
        </div>
      <% end %>
    <% end %>
  </div>
</div>

<%= link_to 'New Shift', new_calendar_path %>
