<p id="notice"><%= notice %></p>

<h1>Calendars</h1>
<%= month_calendar events: @calendars do |date, meetings| %>
  <%= date.mday %>

  <% meetings.each do |meeting| %>
    <div>
      <%= meeting.name %>
      <%= meeting.start_time %>
    </div>
  <% end %>
<% end %>

<%= link_to 'New Calendar', new_calendar_path %>
