<p id="notice"><%= notice %></p>


<h1>Schedule</h1>

<%= month_calendar events: @calendars do |date, meetings| %>
<div class= 'calendar_day'>
  <strong><%= date.mday %></strong>

   <% meetings.each do |meeting| %>
    <div class="">
      <%= meeting.name %>
      <%= meeting.start_time %>
      <%= meeting.id %>
    </div>
  <% end %>
<% end %>

<%= link_to 'New Shift', new_calendar_path %>
