<p id="notice"><%= notice %></p>

<h1>Schedule</h1>

<div class="calendar-desktop">
  <div class="calendar-full">
    <%= month_calendar events: @calendars do |date, meetings| %>
      <div class= 'calendar_day'>
      <strong><%= date.mday %></strong>
        <% meetings.each do |shift| %>

          <div class="">
            <%= shift.name %>
            <%= shift.start_time.hour %>
          </div>
        <% end %>

      </div>
    <% end %>
  </div>
</div>

<!-- MOBILE CALENDAR -->

<div class="calendar-mobile">
  <div class="calendar-full">
    <%= week_calendar events: @calendars do |date, meetings| %>
      <div class= 'calendar_day'>
        <strong><%= date.mday %></strong>
          <% meetings.each do |shift| %>
              <div class="">
                <%= shift.name %>
                <%= shift.start_time.hour %>
            </div>
          <% end %>
      <% end %>
    </div>
  </div>
</div>

<%= link_to 'New Shift', new_calendar_path %>
