<!DOCTYPE html>
<html>

  <head>

    <title>Notify</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <%= stylesheet_link_tag "https://fonts.googleapis.com/css?family=Raleway:500|Roboto+Slab" %>
    <%= stylesheet_link_tag "https://fonts.googleapis.com/icon?family=Material+Icons" %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= csrf_meta_tags %>

  </head>

  <header>

    <div id="logo">
      <h1> <%= link_to "notify!", root_url %> </h1>
    </div>

<!-- NAVIGATION -->

    <div class="navbar">
      <% if current_user %>
        <ul>
          <li id="nav-fullscreen-link"> <%= link_to 'My Notifications', notifications_url %> </li>
          <li id="nav-fullscreen-link"> <%= link_to 'Logout', :logout, method: :post %></li>
          <li id="nav-name-display"> <%= current_user.name %> </li>
        </ul>
      <% else %>
        <ul>
          <li id="nav-fullscreen-link"> <%= link_to 'Login', :login %></li>
          <li id="nav-fullscreen-link"> <%= link_to 'Register', new_user_path %> </li>
        </ul>
      <% end %>

      <!-- Drop Down Menu -->

      <span id="nav-mobile-menu"> <i class="material-icons md-48">reorder</i> </span>
        <div class="drop-down">
          <% if current_user %>
            <ul>
              <li> <%= current_user.name %> </li>
              <li> <%= link_to 'My Dashboard', notifications_url %> </li>
              <li> <%= link_to 'Logout', :logout, method: :post %> </li>
            </ul>
          <% else %>
            <ul>
              <li> <%= link_to 'Login', :login %> </li>
              <li> <%= link_to 'Register', new_user_path %> </li> 
            </ul>
          <% end %>
        </div>
    </div>

  </header>

  <!-- SPACER -->

  <div id="spacer"></div>

  <% flash.each do |key, message| %>
    <div class="flash-<%= key %>">
      <%= message %>
    </div>
  <% end %>

  <body>
    <%= yield %>
  </body>

</html>
